body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; /* Border under the title */
}

.color-picker-container,
.slider-container,
#savedColors {
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Border under each section */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#colorWheel {
    cursor: pointer; /* Change cursor to indicate it's clickable */
    border: 2px solid #333; /* Make the color wheel more visible */
    border-radius: 5px; /* Optional: Adds rounded corners */
    padding: 5px; /* Optional: Adds some padding inside the color input */
}

#colorDisplay {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 20px auto;
}

#savedColors div {
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    position: relative;
}

#savedColors button {
    position: absolute;
    right: 10px;
    top: 10px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #D6D6D6; /* Light gray background */
}